@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url(https://builtin.com/sites/www.builtin.com/files/styles/og/public/2021-11/women-in-tech-game-changing-developments_1.png);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
}

.box2 {
    width: 40%;
    background-image : linear-gradient(to right, #d45912, #aa1183);
    color: darkgrey;
    position: absolute;
    top: 30%;
    left: 27%;
    box-sizing: border-box;
    padding: 2% 2%;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: serif;
    color: rgb(19, 17, 17);
}

.box2 p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: darkgray;
}

.box2 input {
    width: 90%;
    height: 5%;
    margin-bottom: 40px;
}

.box2 input:is(:focus,
 :valid) {
    border-bottom-color: rgb(19, 17, 17);
}

.box2 input[type="text"],
input[type="password"] {
    font-size: 20px;
    height: 27px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
}

.button a {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 32%;
    margin-bottom: 20px;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 70px;
}

.buttons a:hover {
    text-decoration: none;
    background-color: gray;
}

.box2 input .i {
    left: 0;
}