<!DOCTYPE html>
<html>

<body>
    <script>
    </script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="css/login.css" type="text/css" rel="stylesheet">
    <div class="headings">
        <h2 class="x">Women In Tech</h2>

    </div>
    <div class="box">
        <b style="color: red ;"><i><%= msg %></i>
            </b>
        <h2><b>Sign-In</b></h2>
        <form method="post" action="/onlogin" id="loginform">
            <p>email-id</p>
            <input type="text" name="email" placeholder="Enter email-id" required>
            <i class="uil uil-user"></i>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <i class="uil uil-lock"></i>
            <button type="submit" form="loginform" class = 'button' value="Submit" ><a>login</a></button>
            <div class="lastlink"></div><br>
            <a href="newuser"> New user?? Create an Account</a>
    </div>


    </form>




    </div>


</body>

</html>